<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?([0-9]+)?$"/>
        </rule>
        <rule name="RootRewrite" stopProcessing="true">
            <match url="^$" /> <action type="Rewrite" url="app.js" />
        </rule>
        <rule name="DynamicContent">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
        nodeProcessCountPerApplication="0"
        loggingEnabled="true"
        logDirectory="iisnode"
        watchedFiles="web.config;*.js"
        flushResponse="true"
        />
  </system.webServer>
</configuration>