USE [TestTaker]
GO

DROP TABLE [dbo].[Answers]
DROP TABLE [dbo].[Options]
DROP TABLE [dbo].[Questions]
DROP TABLE [dbo].[Exams]
DROP TABLE [dbo].[Subjects]

-- CREATE USERS TABLE
CREATE TABLE [dbo].[Users](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [UserName] [nvarchar](450) NOT NULL,
    [Password] [nvarchar](max) NOT NULL,
    [FirstName] [nvarchar](max) NOT NULL,
    [LastName] [nvarchar](max) NOT NULL,
    [Role] [nvarchar](max) NOT NULL,
    [Email] [nvarchar](max) NOT NULL,
    [PhoneNumber] [nvarchar](max) NOT NULL,
    [Picture] [nvarchar](max) NOT NULL,
    [Token] [nvarchar](max) NOT NULL,
    [ResetToken] [nvarchar](max) NULL,
    [ResetTokenExpiry] [datetime2](7) NULL,
    [IsActive] [bit] NOT NULL,
    [StartDate] [datetime2](7) NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

-- CREATE SUBJECTS TABLE
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Levies] PRIMARY KEY CLUSTERED ([Id] ASC)
)

-- CREATE EXAMS TABLE
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[QuestionCount] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Subjects_SubjectId]
GO

-- CREATE QUESTIONS TABLE
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[AnswerType] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Exams_ExamId] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Exams_ExamId]
GO

-- CREATE OPTIONS TABLE
CREATE TABLE [dbo].[Options](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL, -- Using BIT (0 for False, 1 for True)
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_Options_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_Options_Questions_QuestionId]
GO

-- CREATE ANSWERS TABLE
CREATE TABLE Answers (
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [SessionId] [nvarchar](100) NOT NULL,
    [ExamId] INT NOT NULL,
    [UserId] INT NOT NULL,
    [QuestionId] INT NOT NULL,
    [AnswerText] [nvarchar](max) NULL,
    [AnswerOptionId] [nvarchar](max) NULL,
    [PointsEarned] DECIMAL(5,2) NOT NULL DEFAULT 0,
    [DateCreated] DATETIME NOT NULL DEFAULT GETDATE(),
    
    CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [unique_exam_user_question_session] UNIQUE NONCLUSTERED ([ExamId], [UserId], [QuestionId], [SessionId]),
    INDEX [idx_exam_user] NONCLUSTERED ([ExamId], [UserId]),
    INDEX [idx_question] NONCLUSTERED ([QuestionId])
);


-----------------------------------------------------------------------------------------------------------------------------------

DECLARE @SubjectId INT;
DECLARE @ExamId INT;
DECLARE @QuestionId INT;

----------------------------------------------------------
-- SUBJECT
----------------------------------------------------------
INSERT INTO Subjects(Name, DateCreated)
VALUES ('Microsoft .NET / ASP.NET Core', GETDATE());

SET @SubjectId = SCOPE_IDENTITY();

----------------------------------------------------------
-- EXAM
----------------------------------------------------------
INSERT INTO Exams
(
    Name,
    SubjectId,
    Length,
    QuestionCount,
    DateCreated
)
VALUES
(
    'Microsoft .NET Assessment',
    @SubjectId,
    30,
    5,
    GETDATE()
);

SET @ExamId = SCOPE_IDENTITY();

----------------------------------------------------------
-- QUESTION 1
----------------------------------------------------------

INSERT INTO Questions
(
    ExamId,
    Text,
    AnswerType,
    DateCreated
)
VALUES
(
    @ExamId,
    'Which of the following .NET bindings are suitable for cross-machine communication?',
    1,
    GETDATE()
);

SET @QuestionId = SCOPE_IDENTITY();

INSERT INTO Options VALUES
(@QuestionId,'NetFederationHttpBinding',0,GETDATE()),
(@QuestionId,'BasicHttpBinding',1,GETDATE()),
(@QuestionId,'NetNamedPipeBinding',0,GETDATE()),
(@QuestionId,'NetTcpBinding',1,GETDATE());

----------------------------------------------------------
-- QUESTION 2
----------------------------------------------------------

INSERT INTO Questions
(
    ExamId,
    Text,
    AnswerType,
    DateCreated
)
VALUES
(
    @ExamId,
    'Which of the following must be performed to ensure an ASP.NET Core application can serve static files?',
    1,
    GETDATE()
);

SET @QuestionId=SCOPE_IDENTITY();

INSERT INTO Options VALUES
(@QuestionId,'Call AddStaticFiles() on IServiceCollection.',0,GETDATE()),
(@QuestionId,'Call UseStaticFiles() on IApplicationBuilder.',1,GETDATE()),
(@QuestionId,'Call ConfigureStaticFiles().',0,GETDATE()),
(@QuestionId,'Call UseFileServer() only.',0,GETDATE());

----------------------------------------------------------
-- QUESTION 3
----------------------------------------------------------

INSERT INTO Questions
VALUES
(
@ExamId,
'Which statements are correct regarding struct in .NET?',
1,
GETDATE()
);

SET @QuestionId=SCOPE_IDENTITY();

INSERT INTO Options VALUES
(@QuestionId,'Structure members can be abstract, virtual or protected.',0,GETDATE()),
(@QuestionId,'Structures can implement one or more interfaces.',1,GETDATE()),
(@QuestionId,'Structures can have defined constructors.',1,GETDATE()),
(@QuestionId,'Structures can have methods, properties, indexers, operators and events.',1,GETDATE());

----------------------------------------------------------
-- QUESTION 4
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 5
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 6
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 7
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 8
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 9
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 10
----------------------------------------------------------


SET @QuestionId=SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 11
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 12
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 13
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 14
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 15
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 16
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 17
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 18
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 19
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();


----------------------------------------------------------
-- QUESTION 20
----------------------------------------------------------


SET @QuestionId = SCOPE_IDENTITY();



